*, *::before, *::after {
    box-sizing: border-box;
}

*{
    font-family: "Mitr", sans-serif;
    font-weight: 300;
    font-style: normal;
}

nav {
    background-color: rgba(255, 89, 0, 0.859);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

nav p {
    font-weight: 500;
    color: white;
}
body {
    margin: 0;
    background-color: white;
}

#container {
    margin: 10px;
}

#container-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#mytitle {
    font-weight: bold;
    font-size: 25px;
    color: rgba(255, 89, 0, 0.859);
}

.mytitle {
    margin: 5px;
}

.transaction-log-container {
    width: 100%;
    max-width: 2000px;
    padding: 0 10px;
    margin: 0 auto 20px auto;
}

.log-box {
    height: 150px;
    background-color: rgb(255, 209, 163);
    border: 1px solid rgb(251, 183, 116);
    padding: 10px;
    overflow-y: scroll;
    white-space: pre-wrap;
    color: rgb(0, 0, 0);
    width: 400;
}

.log-box::-webkit-scrollbar{
    background-color: white;
}

.log-box::-webkit-scrollbar-thumb {
    background-color: rgba(255, 154, 99, 0.859);
    border-radius: 10px;
}

.container-02 {
    display: flex;
    gap: 40px;
    padding: 0 10px;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
}

.account-overview, .financial-tools{
    flex: 1;
}

h1 {
    font-weight: 600;
    color: white;

}

h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    color: rgba(255, 89, 0, 0.859);
    font-size: 30px;
    font-weight: 500;
}

h3 {
    font-size: 25px;
    font-weight: 500;
    color: rgba(255, 89, 0, 0.859);
}


.balance-box, .operation-box, .converter-box, .info-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    margin-bottom: 20px;
    padding: 15px;
}

img {
    width: 150px;
}

input[type="text"], input[type="number"], select {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 150px;
}

button {
    padding: 8px 15px;
    background-color: rgba(255, 89, 0, 0.859);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(255, 89, 0, 0.653);
}

/* .balance-box label, .balance-box input {
    display: inline-block;
    margin-bottom: 5px;
} */

.converter-box .converter-content {
    display: flex;
    flex-direction: column;
}

.converter-box .converter-content .converter-row {
    display: flex;
    align-items: center;
    width: 100%;
}

.converter-box .converter-content .converter-row label {
    flex-shrink: 0; 
    width: 120px;
}

.converter-box .converter-content .converter-row input,
.converter-box .converter-content .converter-row select {
    flex-grow: 1;
    width: auto;
}


.converter-box .converter-content .button-row {
    justify-content: center;
    margin-top: 10px;
}

.converter-row-button {
    display: flex;
    justify-content: end;
}

.balance-box .balance-content {
    display: flex;
    flex-direction: column;
}

.balance-box .balance-content .balance-row {
    display: flex;
    align-items: center;
    width: 100%;
}


.balance-box .balance-content .balance-row input {
    flex-grow: 1;
    width: auto;
}

.balance-button {
    display: flex;
    justify-content: end;
    margin-right: 5px;
}