nav {
    background-color: skyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
body {
    margin: 0;
}

#container {
    margin: 10px;
}

#container-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#container-title img{
    width: 100px;
}

#mytitle {
    font-weight: bold;
    font-size: 25px;
}

.mytitle {
    margin: 5px;
}

#square-container {
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: center;
}

.square-box {
    width: 99vw;
    height: 250px;
    background-color: rgb(237, 236, 236);
    border: 2px solid rgb(205, 205, 205);
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}